/* 2 media query */
h2 {
    color: chartreuse;
}

@media screen and (max-width: 500px) {
    h2 {
        color: blue;
    }
}

/* 3 min width */
p {
    background-color: aqua;
    color: black;
}

@media screen and (min-width: 800px) {
    p {
        background-color: aqua;
        color: blueviolet;
    }
}

/* 4 landscape */
h3 {
    display: none;
}

@media screen and (orientation: landscape) {
    h3 {
        display: block;
    }
}